.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

a,
.link {
  color: white;
}

.devTools {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  font-size: 80%;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.footer a {
  text-decoration: none;
}

.header {
  align-items: center;
  background-color: #ce7777;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 1.5vmin);
  justify-content: center;
  padding: 0.5rem 1rem;
}

.logo {
  height: calc(10px + 1.5vmin);
  pointer-events: none;
}

.metaTools {
  text-align: right;
}

.resultArea {
  flex: 1;
}

.sourceArea {
  flex: 1;
}

.title {
  flex: 1;
  padding: 0 1rem;
  position: relative;
  text-align: left;
  top: -0.1rem;
}

.toolbar {
  display: flex;
  flex-direction: row;
  font-size: 120%;
  padding: 0.5rem 1rem;
  text-align: left;
}

.toolbar button {
  background: none;
  border: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  font-size: inherit;
  padding: 0.2rem 0.5rem;
}

.toolbar button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.workArea {
  /* border: 1px solid red; */
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 0.2rem;
}
