.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.devTools {
  flex: 1;
}

.logo {
  /* animation: logo-spin infinite 20s linear; */
  height: calc(10px + 2vmin);
  pointer-events: none;
}

.header {
  align-items: center;
  background-color: #ce7777;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  padding: 0.4rem 1rem;
}

.link {
  color: white;
}

.metaTools {
  text-align: right;
}

.resultArea {
  /* border: 1px solid red; */
  flex: 1;
}

.sourceArea {
  /* border: 1px solid red; */
  flex: 1;
}

.title {
  flex: 1;
  padding: 0 1rem;
  position: relative;
  text-align: left;
  top: -0.1rem;
}

.toolbar {
  display: flex;
  flex-direction: row;
  font-size: 120%;
  padding: 0.4rem 1rem;
  text-align: left;
}

.workArea {
  /* border: 1px solid red; */
  display: flex;
  flex: 1;
  flex-direction: row;
}
