body {
  /* TODO Adjust to system color scheme. */
  background: #03162e;
  color: white;
  display: flex;
  flex-direction: column;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.hljs {
  background-color: transparent !important;
}

[role="tablist"] {
  border-bottom: 1px solid #203045;
  display: flex;
  align-items: start;
}

[role="tab"] {
  background: none;
  border: none;
  color: #afb5bd;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

[role="tabpanel"] {
  padding: 0.5rem 1rem;
}

[role="tab"][aria-selected="true"] {
  border-bottom: 2px solid white;
  color: white;
}
