.spinner {
  animation: spin 1s linear infinite;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: currentColor;
  height: 1rem;
  width: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
